body {
  
  margin: 0;
  font-family: "Arial", "メイリオ";
}
h1{
  margin: 0 32px;
  font-weight: normal;
}
h2{
  margin: 4px 8px;
  font-weight: normal;
  
}
h3{
  margin: 0;
  font-weight: normal;
}
.index {
  display: flex;
  /* background: pink; */
  flex-direction: row-reverse;
}
main{
  background:#ecebeb;
}
